[
  {
    "configuration-name": "Default 15x10",
    "map-width": 15,
    "map-height": 10,
    "world-map-variant": "Globe",
    "gene-count": 5,
    "min-mutation-count": 0,
    "max-mutation-count": 5,
    "child-genes-indicator-variant": "Complete randomness",
    "start-plant-count": 5,
    "daily-plant-growth": 5,
    "plant-energy": 10,
    "plant-growth-indicator-variant": "Forested equator",
    "start-animal-count": 5,
    "animal-start-energy": 50,
    "animal-move-energy": 2,
    "healthy-animal-energy": 20,
    "reproduction-energy": 10,
    "animal-behaviour-indicator-variant": "Complete predestination",
    "tunnel-count": 0
  },
  {
    "configuration-name": "B1 15x10",
    "map-width": 15,
    "map-height": 10,
    "world-map-variant": "Underground tunnels",
    "gene-count": 5,
    "min-mutation-count": 0,
    "max-mutation-count": 5,
    "child-genes-indicator-variant": "Slight correction",
    "start-plant-count": 5,
    "daily-plant-growth": 5,
    "plant-energy": 10,
    "plant-growth-indicator-variant": "Forested equator",
    "start-animal-count": 5,
    "animal-start-energy": 50,
    "animal-move-energy": 2,
    "healthy-animal-energy": 20,
    "reproduction-energy": 10,
    "animal-behaviour-indicator-variant": "Complete predestination",
    "tunnel-count": 0
  },
  {
    "configuration-name": "Slight correction 15x10",
    "map-width": 15,
    "map-height": 10,
    "world-map-variant": "Globe",
    "gene-count": 5,
    "min-mutation-count": 0,
    "max-mutation-count": 5,
    "child-genes-indicator-variant": "Slight correction",
    "start-plant-count": 5,
    "daily-plant-growth": 5,
    "plant-energy": 10,
    "plant-growth-indicator-variant": "Forested equator",
    "start-animal-count": 5,
    "animal-start-energy": 50,
    "animal-move-energy": 2,
    "healthy-animal-energy": 20,
    "reproduction-energy": 10,
    "animal-behaviour-indicator-variant": "Complete predestination",
    "tunnel-count": 0
  },
  {
    "configuration-name": "Underground tunnels 15x10",
    "map-width": 15,
    "map-height": 10,
    "world-map-variant": "Underground tunnels",
    "gene-count": 5,
    "min-mutation-count": 0,
    "max-mutation-count": 5,
    "child-genes-indicator-variant": "Complete randomness",
    "start-plant-count": 5,
    "daily-plant-growth": 5,
    "plant-energy": 10,
    "plant-growth-indicator-variant": "Forested equator",
    "start-animal-count": 5,
    "animal-start-energy": 50,
    "animal-move-energy": 2,
    "healthy-animal-energy": 20,
    "reproduction-energy": 10,
    "animal-behaviour-indicator-variant": "Complete predestination",
    "tunnel-count": 0
  }
]